{% extends 'bootstrap/base.html' %}

<div class="container">
    <div class="row">


        {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>{{ message }}
        </div>
        {% endfor %}


        {% block content %}
        <form role="form" method="post" action="{{ url_for('auth.register') }}">
            {{ form.csrf_token }}
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                {{ form.email(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                {{ form.username(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                {{ form.password(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                {{ form.password2(class="form-control") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-lg btn-primay pull-right") }}
            </div>
        </form>
        {% endblock %}
    </div>
</div>

