{% extends 'bootstrap/base.html' %}

<div class="container">
    <div class="row">
        {% block content %}
        <form role="form" method="post">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i>
                </span>
                {{ form.email(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                {{ form.username(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                {{ form.password(class="form-control") }}
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i>
                </span>
                {{ form.password2(class="form-control") }}
            </div>
            <div>
                {{ form.submit(class="btn btn-lg btn-primay pull-right") }}
            </div>
        </form>
        {% endblock %}
    </div>
</div>

